*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgb(47, 44, 44);
    color: white;
    height: 63px;
}
#nav-elements{
    text-align: center;
    padding: 10px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 21px;
}
#nav-elements li a{
    text-decoration: none;
    color: white;
}
#nav-elements li a:hover{
    color: grey;
    cursor: progress;
}

li{
    color: white;
    list-style: none;
    display: inline;
    margin-left: 100px !important;
}
img{
    border-radius: 8px !important;
    height: 280px;
    width: 300px;
}
.col-md-3{
    margin: 30px !important;
}
p{
    font-weight: bold;
    font-size: 22px;
}
#title{
    font-size: 30px;

}
#navbar h1{
    display: inline;
    /*border: 1px solid black;*/
    position: relative;
    top: 18px;
    margin-left: 10px;
    font-size: 23px;
}
#footer{
    background-color: rgb(56, 5, 5);
    color: white;
    text-align: center;
    margin-top: 30px;
    height: 150px;
}
